{% extends 'base.html' %}

{% block content %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
        <button type="button" class="btn btn-outline-warning"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
        </li>
      </ul>
    </div>
  </nav>
  
<h5 class="text-center" style="font-size:70px">Wishlist&#129488;</h5>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<p> </p>
<p> </p>
<p> </p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr class table="table-info">
    <th scope="col">Nama Barang</th>
    <th scope="col">Harga Barang</th>
    <th scope="col">Deskripsi</th>
    </tr>
    </thead>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr class table="table-info">
            <th class="lead">{{barang.nama_barang}}</th>
            <th class="lead">{{barang.harga_barang}}</th>
            <th class="lead">{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>
<p> </p>
<p>Sesi terakhir login: {{ last_login }}</p>

{% endblock content %}
